.m-0 {
  margin: 0rem;
}

.mt-0 {
  margin: 0rem 0 0 0;
}

.mb-0 {
  margin: 0 0 0rem 0;
}

.ml-0 {
  margin: 0 0 0 0rem;
}

.mr-0 {
  margin: 0 0rem 0 0;
}

.my-0 {
  margin: 0rem 0;
}

.ms-0 {
  margin: 0 0rem;
}

.p-0 {
  padding: 0rem;
}

.pt-0 {
  padding: 0rem 0 0 0;
}

.pb-0 {
  padding: 0 0 0rem 0;
}

.pl-0 {
  padding: 0 0 0 0rem;
}

.pr-0 {
  padding: 0 0rem 0 0;
}

.py-0 {
  padding: 0rem 0;
}

.ps-0 {
  padding: 0 0rem;
}

.m-1 {
  margin: 1rem;
}

.mt-1 {
  margin: 1rem 0 0 0;
}

.mb-1 {
  margin: 0 0 1rem 0;
}

.ml-1 {
  margin: 0 0 0 1rem;
}

.mr-1 {
  margin: 0 1rem 0 0;
}

.my-1 {
  margin: 1rem 0;
}

.ms-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.pt-1 {
  padding: 1rem 0 0 0;
}

.pb-1 {
  padding: 0 0 1rem 0;
}

.pl-1 {
  padding: 0 0 0 1rem;
}

.pr-1 {
  padding: 0 1rem 0 0;
}

.py-1 {
  padding: 1rem 0;
}

.ps-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.mt-2 {
  margin: 2rem 0 0 0;
}

.mb-2 {
  margin: 0 0 2rem 0;
}

.ml-2 {
  margin: 0 0 0 2rem;
}

.mr-2 {
  margin: 0 2rem 0 0;
}

.my-2 {
  margin: 2rem 0;
}

.ms-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.pt-2 {
  padding: 2rem 0 0 0;
}

.pb-2 {
  padding: 0 0 2rem 0;
}

.pl-2 {
  padding: 0 0 0 2rem;
}

.pr-2 {
  padding: 0 2rem 0 0;
}

.py-2 {
  padding: 2rem 0;
}

.ps-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.mt-3 {
  margin: 3rem 0 0 0;
}

.mb-3 {
  margin: 0 0 3rem 0;
}

.ml-3 {
  margin: 0 0 0 3rem;
}

.mr-3 {
  margin: 0 3rem 0 0;
}

.my-3 {
  margin: 3rem 0;
}

.ms-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.pt-3 {
  padding: 3rem 0 0 0;
}

.pb-3 {
  padding: 0 0 3rem 0;
}

.pl-3 {
  padding: 0 0 0 3rem;
}

.pr-3 {
  padding: 0 3rem 0 0;
}

.py-3 {
  padding: 3rem 0;
}

.ps-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.mt-4 {
  margin: 4rem 0 0 0;
}

.mb-4 {
  margin: 0 0 4rem 0;
}

.ml-4 {
  margin: 0 0 0 4rem;
}

.mr-4 {
  margin: 0 4rem 0 0;
}

.my-4 {
  margin: 4rem 0;
}

.ms-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.pt-4 {
  padding: 4rem 0 0 0;
}

.pb-4 {
  padding: 0 0 4rem 0;
}

.pl-4 {
  padding: 0 0 0 4rem;
}

.pr-4 {
  padding: 0 4rem 0 0;
}

.py-4 {
  padding: 4rem 0;
}

.ps-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.mt-5 {
  margin: 5rem 0 0 0;
}

.mb-5 {
  margin: 0 0 5rem 0;
}

.ml-5 {
  margin: 0 0 0 5rem;
}

.mr-5 {
  margin: 0 5rem 0 0;
}

.my-5 {
  margin: 5rem 0;
}

.ms-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.pt-5 {
  padding: 5rem 0 0 0;
}

.pb-5 {
  padding: 0 0 5rem 0;
}

.pl-5 {
  padding: 0 0 0 5rem;
}

.pr-5 {
  padding: 0 5rem 0 0;
}

.py-5 {
  padding: 5rem 0;
}

.ps-5 {
  padding: 0 5rem;
}

.m-6 {
  margin: 6rem;
}

.mt-6 {
  margin: 6rem 0 0 0;
}

.mb-6 {
  margin: 0 0 6rem 0;
}

.ml-6 {
  margin: 0 0 0 6rem;
}

.mr-6 {
  margin: 0 6rem 0 0;
}

.my-6 {
  margin: 6rem 0;
}

.ms-6 {
  margin: 0 6rem;
}

.p-6 {
  padding: 6rem;
}

.pt-6 {
  padding: 6rem 0 0 0;
}

.pb-6 {
  padding: 0 0 6rem 0;
}

.pl-6 {
  padding: 0 0 0 6rem;
}

.pr-6 {
  padding: 0 6rem 0 0;
}

.py-6 {
  padding: 6rem 0;
}

.ps-6 {
  padding: 0 6rem;
}

.m-7 {
  margin: 7rem;
}

.mt-7 {
  margin: 7rem 0 0 0;
}

.mb-7 {
  margin: 0 0 7rem 0;
}

.ml-7 {
  margin: 0 0 0 7rem;
}

.mr-7 {
  margin: 0 7rem 0 0;
}

.my-7 {
  margin: 7rem 0;
}

.ms-7 {
  margin: 0 7rem;
}

.p-7 {
  padding: 7rem;
}

.pt-7 {
  padding: 7rem 0 0 0;
}

.pb-7 {
  padding: 0 0 7rem 0;
}

.pl-7 {
  padding: 0 0 0 7rem;
}

.pr-7 {
  padding: 0 7rem 0 0;
}

.py-7 {
  padding: 7rem 0;
}

.ps-7 {
  padding: 0 7rem;
}
