%grid-layout {
    display: grid;
    gap: 2rem;
}

@media (max-width: 700px) {
    %grid-layout {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
        // row-gap: 3rem;
    }
}