//COLORS
$primary-color-cyan: hsl(171, 66%, 44%);
$secondary-color-blue: hsl(233, 100%, 69%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$text-color-grayish-blue: hsl(201, 11%, 66%);

//  TYPOGRAPHY

$font-family: 'Bai Jamjuree', sans-serif;
$font-size: 1.8rem;
