.footer {
    padding: 2rem 10rem;
    background-color: lighten($color: $text-color-grayish-blue, $amount: 60%);
    .services {
        padding: 5rem 0; 
        @extend %display--flex;
    }
}

@media (max-width: 700px) {
    .footer {
        text-align: center;
        padding: 2rem;

        .services > *, * > * {
            padding-bottom: 1rem;
            color: $dark-grayish-blue;
        }
    }

}